<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<div th:fragment="userlist">
    <div style="background-color: #F2F2F2" class="fw-bold border p-3 pt-2 pb-2 fs-5 rounded-top">
        All users
    </div>
    <div class="border p-3 bg-white rounded-bottom">
        <table class="table table-striped border-top">
            <thead class="table-header">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody class="table-group border-top">
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${#strings.trim(user.getStringRoles())}"></td>
                <td align="center">
                    <button type="button" class="btn btn-info" data-bs-toggle="modal"
                            th:data-bs-target="${'#edit'+ user.id}">Edit
                    </button>
                </td>
                <td align="center">

                    <button type="submit" class="btn btn-danger" data-bs-toggle="modal"
                            th:data-bs-target="${'#delete'+ user.id}">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>
