<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.css'>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.js"></script>
    <title>User</title>
</head>
<body>
<div class="row-cols-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-brand mb-0 h1"></div>
            <div class="navbar-brand mb-0">юзер</div>
            <a class="navbar-text text-decoration-none mb-0" href="/login">Войти в систему</a>
        </div>
    </nav>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th>E-mail</th>
        <th>Password</th>
<!--        <th>Роль</th>-->
    </tr>
    </thead>
    <tr>
        <td align="center" th:text="${userdetails.id}"></td>
        <td align="center" th:text="${userdetails.name}"></td>
        <td align="center" th:text="${userdetails.age}"></td>
        <td align="center" th:text="${userdetails.email}"></td>
        <td align="center" th:text="${userdetails.password}"></td>
<!--        <td align="center" th:text="${userdetails.roles}"></td>-->
    </tr>
</table>
<br>
<input type="button" value="Выход"
       onclick="window.location.href = '/logout'">
</body>
</html>