<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th>E-mail</th>
        <th>Password</th>
<!--        <th>Роль</th>-->
    </tr>
    </thead>
    <tr>
        <td align="center" th:text="${userdetails.id}"></td>
        <td align="center" th:text="${userdetails.name}"></td>
        <td align="center" th:text="${userdetails.age}"></td>
        <td align="center" th:text="${userdetails.email}"></td>
        <td align="center" th:text="${userdetails.password}"></td>
<!--        <td align="center" th:text="${userdetails.roles}"></td>-->
    </tr>
</table>
<br>
<input type="button" value="Выход"
       onclick="window.location.href = '/logout'">
</body>
</html>